<!-- specific product page -->
<div class="product-details">
  <!-- this crumbs is the same as the category_tree, but only ancestors, no selection for current category choices -->
  <div class="crumbs">
    <div class="crumb" ng-repeat="ancestor in product.category.ancestors">
      <a ng-href="#/category/{{ancestor}}">
        {{ancestor}}
      </a>
      <div class="divider" ng-hide="$last">
        /
      </div>
    </div>
  </div>
  <!-- this is the actual product info -->
  <div class="product-details-content">
    <div class="image-left">
      <img ng-src="{{product.pictures[0]}}" />
    </div>
    <div class="details-right">
      <h1>{{product.name}}</h1>
      <div>{{product.displayPrice}}</div>
      <add-to-cart></add-to-cart>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
