<div>
    <h1>Lazulio about/registration page</h1></br>
    email<input type="text"  ng-model="loginText"/></br>
    password<input type="text"  ng-model="passwordText"/></br>
    <button>login</button></br>
    TAKE THE TOUR about us and the product</br>
    scroll down</br>
    </br>
    </br>


</div>