<div>
  <div class="login-section">
    <h1 style="color:white">Lazulio about/registration page</h1>
    <br/>

    <span ng-show="auth.profile" style="color:white">User name is {{auth.profile.nickname}}</span>
    <span ng-show="!auth.profile" style="color:white">You are not logged in yet</span>
    <br/>
    <input type="submit" ng-click="auth.signin()" value="Log in"/>
    <br/>
    <input type="submit" ng-click="logout()" value="Log out" />
    <br/>
  </div>
  <br/>
  TAKE THE TOUR about us and the product<br/>
  scroll down<br/>
  <br/>
  <br/>
  <!-- login.html -->
  <!-- ... -->
  <!-- ... -->
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  features

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  how to sign up
</div>