<div>
  <div class="login-section">
    <!--<h1 style="color:white">Lazulio about/registration page</h1>-->
    <img src="/images/logo_white.png" />
    <br/>

    <span ng-show="auth.profile" style="color:white">User name is {{auth.profile.nickname}}</span>
    <span ng-show="!auth.profile" style="color:white">
      <h2>You must log in to access any page</h2>
    </span>
    <br/>
    <input type="submit" ng-click="auth.signin()" value="Register / Log in"/>
    <br/>
    <input type="submit" ng-click="logout()" value="Log out" />
    <br/>
  </div>
  <br/>
  <div class="centered-div">
    <h2>Bridging the gap between academia and industry</h2>

    Lazulio connects academia and industry to enhance the commercialization of technologies.<br/>
    Through Lazulio’s online platform, users can seamlessly upload and readily find opportunities<br/>
    for partnership. With enhanced collaborations, cutting edge technologies will revolutionize<br/>
    the future of biomedicine.
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <table align="center" class="padded-table">
      <tr >
        <td >
          <img src="/images/susana.jpg" />
        </td>
        <td >
          <img src="/images/kevin.jpg" />
        </td>
        <td >
          <img src="/images/victor.jpg" />
        </td>
      </tr>
      <tr >
        <td >
          <h2>Susana Bardina</h2>
          Co-Founder<br/>
          PhD Biomedical Sciences<br/>
        </td>
        <td >
          <h2>Kevin Tsai</h2>
          Co-Founder<br/>
          PhD Bioinformatics<br/>
        </td>
        <td >
          <h2>Victor Bornstein</h2>
          Co-Founder<br/>
          PhD Biomedical Sciences<br/>
        </td>
      </tr>
    </table>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Features</h2>
    Centralized database<br/>
    Subscription-based<br/>
    Showcase AND search for buyers<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>How to sign up</h2>
    We are a pre-seed company in the testing the market phase.<br/>
    At the current time, anyone is able to sign up and register.
  </div>
</div>