<div>
    <h1>Lazulio about/registration page</h1></br>

    <input type="submit" ng-click="auth.signin()" value="Log in"/>
    </br>
    <input type="submit" ng-click="logout()" value="Log out" /></br>

    <span ng-show="auth.profile">User name is {{auth.profile.nickname}}</span>
    </br>
    TAKE THE TOUR about us and the product</br>
    scroll down</br>
    </br>
    </br>
    <!-- login.html -->
    <!-- ... -->
    <!-- ... -->
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    features

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    how to sign up
</div>