
<div class="modal-header">
    <h3 class="modal-title">Advanced search</h3>
</div>
<div class="modal-body">
    <div ng-repeat="category in categories">
        <span ng-show="category.parent != ''">- </span>
        {{category._id}} (??)
        <span ng-show="category.parent != ''">
            <button class="btn btn-primary" type="button" ng-click="ok()">SearchBy</button>
            <button class="btn btn-warning" type="button" ng-click="delete(category._id)">Delete</button>
        </span>
    </div>
    <div ng-show="success">
        <i class="fa fa-check"></i>
        deleted!
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>