
<div class="modal-header">
    <h3 class="modal-title">Advanced search</h3>
</div>
<div class="modal-body">
    <div ng-repeat="category in categories">
        <span ng-show="category.parent != ''">- </span>
        {{category._id}} (??)
        <span ng-show="category.parent != ''">
            <button class="btn btn-primary" type="button" ng-click="addToSearchBy(category)">SearchBy</button>
            <button class="btn btn-warning" type="button" ng-click="delete(category)">Delete</button>
        </span>
    </div>
    <div ng-show="success">
        <i class="fa fa-check"></i>
        deleted!
    </div>
</div>
<div class="modal-footer">
    <div ng-repeat="category in chosenCategories">
        {{category._id}} <button class="btn btn-warning" type="button" ng-click="removeSearchBy(category)">x</button>
    </div>

    <button class="btn btn-primary" type="button" ng-click="ok()">OK: {{resultAssets.length}} results</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>