<div>
  <!--I want to add ps-body-class="true" or "checked" to make background grey but it blocks all links/buttons-->
  <pageslide ps-open="assetOpened" ps-side="right"  ps-key-listener="true" ps-size="1500px" >
    <div style="padding:30px">
      <asset></asset>
    </div>
  </pageslide>

  <h1>asset results</h1>
  <div class="cart-button" ng-click="addToCartResults();">
    <div ng-show="(followingResult == -1)">
      Subscribe to this search
    </div>
    <div ng-show="(followingResult > -1)">
      Already subscribed
    </div>
  </div>
  current number of followers: ??<br/>
    <br/>
    <!--<div ng-repeat="asset in assets">
        name: {{asset.name}} <a ng-href="#/asset/{{asset._id}}">open asset</a>
    </div>-->
  <div ui-grid="gridData" class="myGrid" ui-i18n="en"></div>
  <!--<div ui-grid="{ data: assets }" class="myGrid"></div>-->

    <br/>
    <br/>
    <br/>
</div>