<div>
    <h1>asset results</h1>
  <button>subscribe to this search</button>
  current number of followers: ??<br/>
    <br/>
    <div ng-repeat="asset in assets">
        name: {{asset.name}} <a ng-href="#/asset/{{asset._id}}">open asset</a>
    </div>
    </br>
    </br>
    </br>
</div>