<div>
    <h1>name: {{asset.name}}</h1>
    description: {{asset.description}}</br>
    organization: {{asset.organization}}</br>
    market: {{asset.market}}</br>
    IP status: {{asset.ipStatus}}</br>
    problem: {{asset.problem}}</br>
    solution: {{asset.solution}}</br>
    application: {{asset.application}}</br>
    advantages: {{asset.advantages}}</br>
    looking for: {{asset.lookingFor}}</br>
    contact: {{asset.contact}}</br>
    tags: {{asset.tags}}</br>
</div>