<div>
    <h1>asset results</h1>
    </br>
    <div ng-repeat="asset in assets">
        name: {{asset.name}} <a ng-href="#/asset/{{asset._id}}">open asset</a>
    </div>
    </br>
    </br>
    </br>
</div>