<div class="centered-div">
    <h1>name: {{asset.name}}</h1>
  <!-- this will be repeated underneath each product -->
<div class="cart-button" ng-click="addToCart(asset);">
  <div ng-show="(following == -1)">
    Follow
  </div>
  <div ng-show="(following > -1)">
    Followed
  </div>
</div>

  current number of followers: ??<br/>
  view count: {{asset.viewCount}}<br/>
    description: {{asset.description}}<br/>
    organization: {{asset.organization}}<br/>
    market: {{asset.market}}<br/>
    IP status: {{asset.ipStatus}}<br/>
    problem: {{asset.problem}}<br/>
    solution: {{asset.solution}}<br/>
    application: {{asset.application}}<br/>
    advantages: {{asset.advantages}}<br/>
    looking for: {{asset.lookingFor}}<br/>
    contact: {{asset.contact}}<br/>
    tags: {{asset.tags}}<br/>
</div>