<div class="centered-div">
    <h1>Lazulio homepage for pharma</h1></br>
  <h2>Popular technologies</h2></br>
  <popular-feed></popular-feed>
  <h2>New technologies for searches you follow</h2></br>
  <followed-search-feed></followed-search-feed>
  <h2>Updates to technologies you follow</h2></br>
  <followed-asset-feed></followed-asset-feed>
    </br>
    </br>
    </br>


</div>