<div>
    <h1>Lazulio homepage</h1></br>
  Currently logged on as: {{auth.profile.nickname}}<br/>

  <a ng-href="#/pharma/">pharma login
  </a>
  <br/>
    <a ng-href="#/tto/">
      tto login
    </a>
  <br/>
  <br/>
  <br/>


</div>