<!DOCTYPE html>
<html ng-app="lazulio">
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript"
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js">
  </script>
  <script type="text/javascript"
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js">
  </script>
  <script type="text/javascript" src="/bin/index.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <search-bar></search-bar>
  categories</br>
  <save-category></save-category>
</br>
  </br>
  asset</br>
  name <input type="text" ng-model="nameText"/></br>
  description <input type="text" ng-model="descText"/></br>
  organization <input  type="text" ng-model="orgText"/></br>
  development status <input  type="text" ng-model="statusText"/></br>
  application / market <input type="text" ng-model="applicationText"/></br>
  advantages <input type="text" ng-model="advantagesText"/></br>
  contact <input  type="text" ng-model="contactText"/></br>
  tags <input  type="text" ng-model="tagText"/></br>
  <button>save</button>
</body>
</html>
