<!DOCTYPE html>
<html ng-app="lazulio">
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/bin/index.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <nav-bar></nav-bar>

  <div class="content-wrapper" ng-view>
  </div>

  <br/>
  <br/>
  <br/>
  <div class="footer">
  <h3>footer</h3>
  <a ng-href="#/about">
      about us
    </a>, contact us, etc..
	  <br/>
  <br/>
  <br/>
  <h3>admin stuff </h3>
  <a ng-href="#/asset/new">
    link to bring up asset upload in the ng-view
  </a><br/>
  <a ng-href="#/category/new">
    link to bring up category upload in the ng-view
  </a><br/>
  </div>
</body>
</html>
