<!DOCTYPE html>
<html ng-app="lazulio">
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript"
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js">
  </script>
  <script type="text/javascript"
          src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js">
  </script>
  <script type="text/javascript" src="/bin/index.js"></script>
</head>

<body>
    <nav-bar></nav-bar>

  <div class="content-wrapper" ng-view>
  </div>

  <a ng-href="#/asset/new">
    link to bring up asset upload in the ng-view
  </a></br>
  <a ng-href="#/category/new">
    link to bring up category upload in the ng-view
  </a></br>
  </br>
  </br>
  </br>
  footer, about us, contact us, etc..
</body>
</html>
