<div>
  asset <br/>
  name <input type="text" ng-model="asset.name"/><br/>
  description <input type="text" ng-model="asset.description"/><br/>
  organization <input  type="text" ng-model="asset.organization"/><br/>
  market <input  type="text" ng-model="asset.market"/><br/>
  IP status <input type="text" ng-model="asset.ipStatus"/><br/>
  problem <input type="text" ng-model="asset.problem"/><br/>
  solution <input  type="text" ng-model="asset.solution"/><br/>
  application <input  type="text" ng-model="asset.application"/><br/>
  advantages <input  type="text" ng-model="asset.advantages"/><br/>
  looking for <input  type="text" ng-model="asset.lookingFor"/><br/>
  contact <input  type="text" ng-model="asset.contact"/><br/>
  tags <input  type="text" ng-model="asset.tags"/><br/>

  <button ng-click="assetSave()" >save</button>
  <div ng-show="success">
    <i class="fa fa-check"></i>
    saved!
  </div>
</div>