<div>
    asset </br>
    name <input type="text" ng-model="nameText"/></br>
    description <input type="text" ng-model="descText"/></br>
    organization <input  type="text" ng-model="orgText"/></br>
    development status <input  type="text" ng-model="statusText"/></br>
    application / market <input type="text" ng-model="applicationText"/></br>
    advantages <input type="text" ng-model="advantagesText"/></br>
    contact <input  type="text" ng-model="contactText"/></br>
    tags <input  type="text" ng-model="tagText"/></br>
    <button>save</button></br>
</div>