<div>
  categories<br/>
  name <input type="text" ng-model="category._id"/><br/>
  parent <input  type="text" ng-model="category.parent"/><br/>
  ancestors (comma separated) <input  type="text" ng-model="category.ancestors"/><br/>
  synonyms (comma separated) <input  type="text" ng-model="category.synonyms"/><br/>
  <button ng-click="categorySave()" >save</button>
  <div ng-show="success">
    <i class="fa fa-check"></i>
    saved!
  </div>
</div>