.unpadded {
    padding: 0px 0 0 0;
    text-align: center;
}

.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px;
}

    .jumbotron .btn-primary {
        background: #845ac7;
        border-color: #845ac7;
    }

        .jumbotron .btn-primary:hover {
            background: #7646c1;
        }

    .jumbotron p {
        color: #d9ccee;
        max-width: 75%;
        margin: 1em auto 2em;
    }

.navbar + .jumbotron {
    margin-top: -20px;
}

.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
}

    .jumbotron .lang-logo img {
        max-width: 100%;
    }

.cart-button {
    cursor: pointer;
    color: white;
    background-color: #CC4A14;
}

    .cart-button i {
        margin-right: 0.33em;
    }

.login-section {
    background-image: url("/images/lapis_background.jpg");
    text-align: center;
}

.centered-div {
    text-align: center;
}

.myGrid {
}

.footer {
    text-align: center;
}

.beautiful-asset-table {
    border-collapse: separate;
    border-spacing: 50px 10px;
}

    .beautiful-asset-table td {
        border: 1px solid black;
        width: 400px;
        padding: 10px 0;
    }

.padded-table {
    border-collapse: separate;
    border-spacing: 50px 0;
}
