<!-- list of products in category -->
<div class="product-wrapper">
  <!-- sorter -->
  <div class="sort-arrow" ng-click="handlePriceClick()">
    Sort by Price
    <span ng-show="price === -1">
      <i class="fa fa-arrow-up"></i>
    </span>
    <span ng-show="price === 1 || price === undefined">
      <i class="fa fa-arrow-down"></i>
    </span>
  </div>
  <!-- not sure what this is -->
  <div style="clear: both"></div>
  <!-- single product with image, name, cost, and add to cart button -->
  <div class="product" ng-repeat="product in products">
    <div class="product-image">
      <img ng-src="{{product.pictures[0]}}" />
    </div>
    <div class="product-name">
      <a ng-href="#/product/{{product._id}}">
        {{product.name}}
      </a>
    </div>
    <div class="product-cost">
      {{product.displayPrice}}
    </div>
    <!-- references the add-to-cart directive? via angular conversion of add-to-cart to addToCart in directives.js -->
    <add-to-cart></add-to-cart>
  </div>
  <div style="clear: both"></div>
</div>
